
@{
    ViewBag.Title = "Home";
}

<section id="search">
    <div class="welcome">
        <p>Olá Promotor!</p>
        <input type="button" value="X" />
    </div>
    <div class="content">
        <input type="text" placeholder="Buscar Cliente:" name="busca-cliente" />
        <input type="submit" value="BUSCAR" />
        <hr />
        <ul class="list-title">
            <li>NOME</li>
            <li>|</li>
            <li>EMPRESA</li>
            <li>|</li>
            <li>STATUS</li>
        </ul>
        <ul class="list-item">
            <li>Nabucodonosor Xavier</li>
            <li>Merial</li>
            <li>
                <input type="submit" value="CHECK-IN" />
            </li>
        </ul>
        <ul class="list-item">
            <li>Nabucodonosor Xavier</li>
            <li>Merial</li>
            <li>
                <input type="submit" value="CHECK-OUT" />
            </li>
        </ul>
        <ul class="list-item">
            <li>Nabucodonosor Xavier</li>
            <li>Merial</li>
            <li>
                <input type="submit" value="CHECK-IN" />
            </li>
        </ul>
        <ul class="list-item">
            <li>Nabucodonosor Xavier</li>
            <li>Merial</li>
            <li>
                <input type="submit" value="CHECK-OUT" />
            </li>
        </ul>
        <ul class="list-item base-out">
            <li>Cliente "Nabucodonosor Xavier" não cadastrado na base.</li>
            <li>
                <input type="submit" value="CADASTRAR" />
            </li>
        </ul>
    </div>
</section>