@{
    ViewBag.Title = "Home";
}

<section id="login">
   <div class="content">
        <form class="user-Login">
            <p>Faça seu login:</p>
            <div>
                <input type="text" name="login" placeholder="Login:" /><br />
                <input type="password" name="password" placeholder="Senha:" /><br />
                <input type="submit" value="Entrar" />
            </div>
        </form>   
       <div class="alert">
           <p>
               <strong>Atenção!</strong>
               <br />
               Login ou Senha incorretos!
           </p>
           <p class="exit">
               <input type="button" value="X"/>
           </p>
       </div>
    </div>
</section>

